/* My color pallete
https://paletton.com/#uid=40l0D1kcw9H7M2q9q5ngqeSkgk7kczbi6H0n8C4KjgkwqpuckgyhKhxbggVe0hxlZgwqPk8-a89tjb9dfebs7GeF6E 
*/

:root {
    --bg: rgb(48, 47, 56);
    --accent: rgb(255, 230, 0);
}