/* =================================================
Imports
===================================================*/

@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Neucha&family=New+Tegomin&family=Noto+Sans+KR&display=swap');

/* =================================================
Variable Declarations
===================================================*/

:root {
/* My color pallete
https://paletton.com/#uid=40l0D1kcw9H7M2q9q5ngqeSkgk7kczbi6H0n8C4KjgkwqpuckgyhKhxbggVe0hxlZgwqPk8-a89tjb9dfebs7GeF6E 
*/

    /* Monochromatic Colors */
    --light-mono: rgb(243, 243, 243);
    --dark-mono: rgb(34, 34, 34);
    /* Brown Colors */
    --brown-lightest: rgb(160, 95, 59);
    --brown-light: rgb(118, 80, 58);
    --brown-mid: rgb(77, 58, 47);
    --brown-dark: rgb(43, 35, 30);
    --brown-darkest: rgb(19, 16, 15);
    /* Blue Colors */
    --blue-lightest: rgb(77, 96, 143);
    --blue-light: rgb(60, 77, 118);
    --blue-mid: rgb(51, 64, 95);
    --blue-dark: rgb(40, 50, 75);
    --blue-darkest: rgb(31, 39, 60);
    /* Green Colors */
    --green-lightest: rgb(119, 138, 97);
    --green-light: rgb(95, 110, 78);
    --green-mid: rgb(64, 73, 53);
    --green-dark: rgb(46, 55, 36);
    --green-darkest: rgb(37, 48, 26);
    /* Teal Colors */
    --teal-lightest: rgb(28, 158, 122);
    --teal-light: rgb(43, 107, 89);
    --teal-mid: rgb(36, 59, 53);
    --teal-dark: rgb(18, 25, 23);
    --teal-darkest: rgb(1, 2, 2);

    /* Font Families */
    --heavy-font: 'New Tegomin', serif;
    --header-font: 'Neucha', cursive;
    --main-font: 'Noto Sans KR', sans-serif;;
    --monospace-font: 'Cutive Mono', monospace;;

    /* Padding and Spacing */
    --sm-pad: 20px;
    --med-pad: 50px;
    --lg-pad: 100px;
    --xlg-pad: 200px;
}

/* =================================================
Universal and Page-Wide CSS
===================================================*/

body {
    background-color: var(--brown-darkest);
    color: var(--light-mono);
}

/* =================================================
Header CSS
===================================================*/

#header-banner {
    position: relative;
    background-image: url('../images/wood-panel.jpg');
    font-family: var(--header-font);
    color: var(--brown-darkest);
    width: 100%;
    height: 600px;
}

/* This gradient overlays the wood panel background, smoothing the transition to the page background color */
.fade-wrapper {
    background: linear-gradient(rgba(0, 0, 0, 0), 80%, var(--brown-darkest));
    width: 100%;
    height: 100%;
}

.bear-name {
    color: var(--teal-lightest);
}

#header-banner h1 {
    font-family: var(--header-font);
    padding-left: var(--xlg-pad);
    padding-top: var(--xlg-pad);
    font-size:60px;
}

/* =================================================
Navigation Links CSS
===================================================*/

#main-nav {
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--teal-lightest);
    font-family: var(--heavy-font);
    font-size: 25px;
    padding: var(--med-pad) var(--sm-pad) var(--med-pad) var(--sm-pad);
}

#main-nav li {
    padding: var(--sm-pad) 0 var(--sm-pad) 0;
}


/* =================================================
Main Content Section CSS
===================================================*/

/* =================================================
Footer CSS
===================================================*/