/* =================================================
Imports
===================================================*/

@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Neucha&family=New+Tegomin&family=Noto+Sans+KR&display=swap');

/* =================================================
Keyframes for animations
===================================================*/

@keyframes glow {
    from {
    }
    to {
        color:var(--teal-lightest);
    }
}

/* =================================================
Variable Declarations
===================================================*/

:root {
/* My color pallete
https://paletton.com/#uid=40l0D1kcw9H7M2q9q5ngqeSkgk7kczbi6H0n8C4KjgkwqpuckgyhKhxbggVe0hxlZgwqPk8-a89tjb9dfebs7GeF6E 
*/

    /* Monochromatic Colors */
    --light-mono: rgb(243, 243, 243);
    --dark-mono: rgb(34, 34, 34);
    /* Brown Colors */
    --brown-lightest: rgb(160, 95, 59);
    --brown-light: rgb(118, 80, 58);
    --brown-mid: rgb(77, 58, 47);
    --brown-dark: rgb(43, 35, 30);
    --brown-darkest: rgb(19, 16, 15);
    /* Blue Colors */
    --blue-lightest: rgb(77, 96, 143);
    --blue-light: rgb(60, 77, 118);
    --blue-mid: rgb(51, 64, 95);
    --blue-dark: rgb(40, 50, 75);
    --blue-darkest: rgb(31, 39, 60);
    /* Green Colors */
    --green-lightest: rgb(119, 138, 97);
    --green-light: rgb(95, 110, 78);
    --green-mid: rgb(64, 73, 53);
    --green-dark: rgb(46, 55, 36);
    --green-darkest: rgb(37, 48, 26);
    /* Teal Colors */
    --teal-lightest: rgb(28, 158, 122);
    --teal-light: rgb(43, 107, 89);
    --teal-mid: rgb(36, 59, 53);
    --teal-dark: rgb(18, 25, 23);
    --teal-darkest: rgb(1, 2, 2);

    /* Font Families */
    --heavy-font: 'New Tegomin', serif;
    --header-font: 'Neucha', cursive;
    --main-font: 'Noto Sans KR', sans-serif;;
    --monospace-font: 'Cutive Mono', monospace;;

    /* Padding and Spacing */
    --sm-pad: 10px;
    --med-pad: 20px;
    --lg-pad: 50px;
    --xlg-pad: 100px;

    --sm-space: 2vw;
    --med-space: 4vw;
    --lg-space: 8vw;
    --xlg-space: 10vw;
}

/* =================================================
Universal and Page-Wide CSS
===================================================*/

body {
    background-color: var(--brown-darkest);
    color: var(--light-mono);
    font-family: var(--main-font);
}

/* Hyperlinks are colored green and have their underlines removed */
a {
    color:var(--green-light);
    text-decoration: none;
}

/* All hyperlinks glow bright teal when hovered over */
a:hover {
    animation: glow 1s ease-in-out;
    animation-fill-mode: forwards;
}

/* =================================================
Header CSS
===================================================*/

#header-banner {
    position: relative;
    background-image: url('../images/field.jpg');
    background-size: cover;
    background-position: center;
    font-family: var(--header-font);
    color: var(--light-mono);
    width: 100%;
    height: 600px;
}

/* This gradient overlays the header background, smoothing the transition to the page background color */
.fade-wrapper {
    background: linear-gradient(rgba(0, 0, 0, 0), 70%, var(--brown-darkest));
    width: 100%;
    height: 100%;
}

/* Positions the bear head away from the left side and rotates it slightly for effect */
.bear-logo {
    position: absolute;
    left: 20%;
    top:var(--lg-pad);
    transform: rotate(-12deg);
}

/* The bear head is responsive but doesn't take up a ridiculous amount of space at high resolutions */
.bear-logo img {
    width:20vw; 
    max-width: 300px;
}

/* Colors the name */
.bear-name {
    color: var(--teal-lightest);
}

#header-banner h1 {
    display:inline;
    font-family: var(--header-font);
    padding-top: var(--xlg-pad);
    font-size:60px;
}

/* =================================================
Navigation Links CSS
===================================================*/


/* #main-nav {
    /* Navigation is positioned in the upper right corner */
/*     position: absolute;
    right: 0;
    top: 0;
    height: 50%;
    background-color: var(--green-mid);
    font-family: var(--heavy-font);
    font-size: 25px;
    padding: var(--lg-pad) var(--med-pad) var(--lg-pad) var(--med-pad);

    /* Masking cuts out the bottom left corner to give the menu a little flair */
/*     mask-image: linear-gradient(45deg, transparent 10%, black 10%);
    -webkit-mask-image: linear-gradient(45deg, transparent 10%, black 10%);
} */

#main-nav {
    position: absolute;
    right: 5vw;
    top: 5vh;
    width: 10vw;
    height:60%;
    background-color: rgba(0, 0, 0,.5);
    font-family: var(--heavy-font);
    font-size: 25px;
    text-align: center;
    padding: var(--lg-pad) var(--med-pad) var(--lg-pad) var(--med-pad);

     mask-image: linear-gradient(45deg, transparent 10%, black 10%);
    /*    linear-gradient(135deg, transparent 10%, black 10%),
        linear-gradient(225deg, transparent 10%, black 10%),
        linear-gradient(315deg, transparent 10%, black 10%);*/
    -webkit-mask-image: linear-gradient(45deg, transparent 10%, black 10%), linear-gradient(135deg, transparent 10%, black 10%), linear-gradient(225deg, transparent 10%, black 10%), linear-gradient(315deg, transparent 10%, black 10%);
    -webkit-mask-composite: source-in;
}

#main-nav ul {
    margin-top: 15%;
    width:100%;
}

#main-nav li {
    padding: var(--sm-pad) 0 var(--sm-pad) 0;
    width:100%;
}

/* The nav links are white instead of green to make them stand out */
#main-nav a {
    color:var(--light-mono);
}

/* =================================================
Main Content Section CSS
===================================================*/

#content {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: var(--med-pad);
}

.main-section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width:100%;
}

.card-header {
    display: flex;
    width: 300px;
    text-align: right;
    padding-top: var(--med-pad);
    padding-left: var(--sm-pad);
    padding-right: var(--sm-pad);
    padding-bottom: var(--sm-pad);
}

.card-header h2 {
    font-family: var(--heavy-font);
    font-size: 40px;
    color: var(--green-mid);
}

.card-content {
    display: flex;
    flex-grow: 1 0 600px;
    padding: var(--sm-space);

}

.card-content p {
    text-indent: 20px;
    font-size: 16px;
    line-height: 1.5;
    margin: var(--sm-pad) var(--sm-space) var(--sm-pad) var(--sm-space);
}

/* =================================================
Footer CSS
===================================================*/

#footer {
    width: 100%;
    padding-top: var(--lg-pad);
    padding-bottom: var(--lg-pad);
    text-align: center;
    border-top: 1px solid var(--green-dark);
}

/* =================================================
Small Screen Media Query
===================================================*/

@media screen and (max-width: 768px){

    /* Removes special positioning and centers header parts */
    #header-banner {
        padding:unset;
        text-align: center;
        height: unset;
    }

    /* Removes special positioning and spaces header from other objects */
    #header-banner h1 {
        display:block;
        padding:unset;
        margin-top:var(--med-pad);
        margin-bottom:var(--med-pad);
    }

    /* Removes fancy effects and returns logo to content flow */
    .bear-logo {
        position:static;
        transform: unset;
    }

    /* Makes main content flow into a column instead of side by side with headers */
    /* It's flex-wraps all the way down */
    .main-section {
        flex-direction: column;
        flex-wrap: wrap;
    }

    /* Removes special positioning and places the menu on the bottom */
    #main-nav {
        position:static;
        width:100%;
        padding: var(--sm-pad);
        mask:unset;
        -webkit-mask: unset;
    }

    #main-nav ul {
        margin: unset;
    }

    #main-nav li {
        padding: unset;
        border:unset;
    }
}
